<!-- <div class="btn-group" role="group">
  <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
    <a class="dropdown-item" href="#">Dropdown link</a>
    <a class="dropdown-item" href="#">Dropdown link</a>
  </div>
</div> -->

<!-- <ul class="nav nav-pills">
  <li class="nav-item dropdown">
    <div>
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <i class="material-icons">recorder</i>
  </div>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="" [class.activated]="currentUrl == '/'">
        <a class="dropdown-item" routerLink="new_res" [class.activated]="currentUrl == '/new_res'" >
        <a class="dropdown-item" routerLink="current_res" [class.activated]="currentUrl == '/current_res'" >
        <a class="dropdown-item" routerLink="past_res" [class.activated]="currentUrl == '/past_res'" > -->

          <div class="container">
  
              <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <!-- <li><a href="#">Action</a></li> -->
                  <li><a class="dropdown-item" routerLink=""></a></li>
                  <!-- <li><a href="#">Another action</a></li> -->
                  <li><a class="dropdown-item" routerLink="new_res"></a></li>
                  <!-- <li><a href="#">Something else here</a></li> -->
                  <li><a class="dropdown-item" routerLink="current_res"></a></li>
                  <!-- <li><a href="#">Separated link</a></li> -->
                  <li><a class="dropdown-item" routerLink="past_res"></a></li>
                </ul>
              </div>
              
              </div>

              <hr>
              <!-- [class.activated]="currentUrl == '/'" -->


        <!-- <a class="dropdown-item" href="#">Action</a> -->
      <!-- <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a> -->
      <!-- <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a> -->
    <!-- </div>
</ul> -->
<!-- 
<nav>
  <ul>
    <li>
        <i class="material-icons">view_quilt</i>
      </a>
    </li>
    <li>
         <i class="material-icons">attach_money</i> -->

        <!-- </a>
      </li>
    <li>
        <i class="material-icons">edit_attributes</i>
      </a>
    </li>
    <li>
        <i class="material-icons">assignment</i>
      </a>
    </li>
  </ul>
</nav> -->