
<div class="container">

  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="fa fa-bars"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <!-- <li><a href="#">Action</a></li> -->
      <li><a class="dropdown-item" routerLink="">Home</a></li>
      <!-- <li><a href="#">Another action</a></li> -->
      <li><a class="dropdown-item" routerLink="search">Search</a></li>
      <!-- <li><a href="#">Something else here</a></li> -->
      <li><a class="dropdown-item" routerLink="reservations">Reservations</a></li>
      <!-- <li><a href="#">Separated link</a></li> -->
      <!-- <li><a class="dropdown-item" routerLink="past_res"></a></li> -->
    </ul>
  </div>
  
  </div>

  <hr>
