.form-group{
  text-align: left;
}

.button{
  margin-top: 20px;
}

#loginForm{
  padding-top: 80px;
  width: 50%;
  text-align: center;
  margin: auto;
}

#loginComponent{
  text-align: center;
  margin: auto;
}

