div>span {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;

  /* background-color: #f26925; */
  /* justify-content: space-around; */
}

.no-reservations-message {
  text-align: center;
}

/* div {
  background-color: #f26925;
} */

/* ngbPanelTitle {
  box-shadow: 3px 2px #223;
  background-color: #f26925;
} */

h2 {
  text-align: center;
}

#resHeader {
  background-color: #f26925;
}

/* unvisited link */
a:link,
.cancel-button {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: purple;
}
