<div class="container">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let reservation of userReservations">
      <div class="resHeader">
        <ng-template id="resHeader" ngbPanelTitle type="dark">
          <div class="row">
            <span class="col"> {{ reservation.purpose | titlecase }} </span>
            <span class="col">{{reservation.startTime | date: 'MMM d, y @ h:mm a'}}</span>
            <span class="col">Space: {{reservation.resource.name}}</span>
          </div>

        </ng-template>
      </div>

      <ng-template ngbPanelContent>
        <p>{{reservation.name}}</p>
        <hr>
        <p><strong>Reservation for:</strong> {{ reservation.purpose | titlecase }}</p>
        <p><strong>Resource:</strong> {{reservation.resource.name}}</p>

        <p> <strong>Reserved from:</strong> {{reservation.startTime | date: 'MMM d, y @ h:mm a'}}</p>
        <p><strong>Reserved until:</strong> {{reservation.endTime | date: 'MMM d, y @ h:mm a'}}</p>

        <hr>
        <button type="button" placement="bottom" class="btn btn-outline-warning" (click)="this.open(reservation)">
          Cancel Reservation
        </button>
      </ng-template>
    </ngb-panel>

  </ngb-accordion>
</div>
