div>span {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;

  /* background-color: #f26925; */
  /* justify-content: space-around; */
}

div.container> #resHeader {
    background-color: #f26925 !important;; 
    color: whitesmoke !important;;
}

div.container> .card-header {
  background-color: #f26925;
}

/* div {
  background-color: #f26925;
} */

/* ngbPanelTitle {
  box-shadow: 3px 2px #223;
  background-color: #f26925;
} */

h1{
  font-size: 1.5rem;
  margin-bottom: 3vh;
}

#resHeader {
  background-color: #f26925;
  color: whitesmoke;
}

/* unvisited link */
a:link,
.cancel-button {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: purple;
}
