<div class="container">
  <h1> Current Reservations </h1>

  <div class="no-reservations-message" *ngIf="userReservations?.length == 0">
    You currently have no upcoming resource reservations!
  </div>
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let reservation of userReservations">
      <div class="resHeader">
        <ng-template id="resHeader" ngbPanelTitle>
          <div class="row">
            <span class="col"> {{ reservation?.purpose | titlecase }} </span>
            <span class="col">{{reservation?.startTime | date: 'MMM d, y @ h:mm a'}}</span>
            <span class="col">Space: {{reservation.resource?.name}}</span>
          </div>

        </ng-template>
      </div>

      <ng-template ngbPanelContent>
        <p>{{reservation?.name}}</p>
        <hr>
        <p><strong>Reservation for:</strong> {{ reservation?.purpose | titlecase }}</p>
        <p><strong>Resource:</strong> {{reservation.resource?.name}}</p>

        <p> <strong>Reserved from:</strong> {{reservation?.startTime | date: 'MMM d, y @ h:mm a'}}</p>
        <p><strong>Reserved until:</strong> {{reservation?.endTime | date: 'MMM d, y @ h:mm a'}}</p>
        <ng-container *ngIf="reservation.resource">
          <p><strong>Available Features:</strong></p>
          <div class="resource-icons">
            <div *ngIf="reservation.resource.hasEthernet" ngbPopover="Ethernet available" triggers="mouseenter:mouseleave">
              <mat-icon>network_wifi</mat-icon>
            </div>
            <div *ngIf="!reservation.resource.hasEthernet" ngbPopover="No Ethernet" triggers="mouseenter:mouseleave">
              <mat-icon>signal_wifi_off</mat-icon>
            </div>
            <div *ngIf="reservation.resource.hasComputer"ngbPopover="Computers available" triggers="mouseenter:mouseleave">
              <mat-icon>computer</mat-icon>
            </div>    
            <div *ngIf="!reservation.resource.hasComputer" ngbPopover="No computers/laptops" triggers="mouseenter:mouseleave">
              <mat-icon>phonelink_off</mat-icon>
            </div>  
            <div *ngIf="reservation.resource.hasMicrophone"ngbPopover="Microphones avaialable" triggers="mouseenter:mouseleave">
              <mat-icon>headset_mic</mat-icon>
            </div>
            <div *ngIf="!reservation.resource.hasMicrophone" ngbPopover="No microphones" triggers="mouseenter:mouseleave">
              <mat-icon>mic_off</mat-icon>
            </div>
            <div ngbPopover="Outlets available" triggers="mouseenter:mouseleave">
              <mat-icon>power</mat-icon>{{resource.numberOfOutlets}}
            </div>
          </div>
        </ng-container>

        <hr>
        <button type="button" placement="bottom" class="cancel-button btn btn-outline-warning" (click)="this.open(reservation)">
          Cancel Reservation
        </button>
      </ng-template>
    </ngb-panel>

  </ngb-accordion>
</div>
