<div class="modal-header">
  <h4 class="modal-title">Cancel Resource Reservation</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="!resolved">
    <p>Cancel Resource reservation for {{user?.name}}</p>
    Cancelling a resources cannot be undone!

    <span class="res-property">
      Purpose :
    </span>
    <span class="res-value">
      {{ reservation?.purpose | titlecase }}
    </span>
    <br>
    <span class="res-property">
      Reservation Date :
    </span>
    <span class="res-value">
      {{reservation?.startTime | date: 'MMM d, y'}}
    </span>
    <br>
    <span class="res-property">
      Reservation Time :
    </span>
    <span class="res-value">
      {{reservation?.startTime | date: 'h:mm a'}} to {{reservation?.endTime | date: 'h:mm a'}}
    </span>
    <br>
    <ng-container *ngIf="resolved && !error">
      Reservation has been removed.
    </ng-container>

    <ng-container *ngIf="error">
      Error! Please try again later.
    </ng-container>
  </ng-container>
</div>

<div class="modal-footer">
  <ng-container *ngIf="resolved || error">
    <button type="button" class="btn btn-primary" (click)="activeModal.dismiss('close')">Close</button>
  </ng-container>

  <ng-container *ngIf="!resolved && !error">
    <button *ngIf="reservation" type="button" class="btn btn-primary" (click)="activeModal.dismiss()">Close Window</button>
    <button *ngIf="reservation" type="button" class="btn btn-danger" (click)="cancelReservation()">Cancel Reservation</button>
  </ng-container>
</div>
