<a routerLink="/reservations">
  <ng-container *ngIf="loaded && !error">
     
    <div class="alert alert-warning" role="alert">
      <ng-container *ngIf="userReservations.length == 1">
        You have 1 upcoming appointment! <br>
        {{userReservations[0].startTime | date: 'MM/dd'}} from {{userReservations[0].startTime | date: 'h:mm a'}}
         to {{userReservations[0].endTime | date: 'h:mm a'}} in {{userReservations[0].resource.name}}!
      </ng-container>
      <ng-container *ngIf="userReservations.length > 1">
          You have {{userReservations?.length}} upcoming appointments! <br>
          Your next scheduled appointment is
            on        {{userReservations[0].startTime | date: 'MM/dd'}} from {{userReservations[0].startTime | date: 'h:mm a'}}
            to {{userReservations[0].endTime | date: 'h:mm a'}} in {{userReservations[0].resource.name}}!
      </ng-container>
      <ng-container *ngIf="userReservations.length == 0">
        You have no upcoming reservations for resources!
      </ng-container>
    </div>
  </ng-container>

  <div class="alert alert-warning" role="alert">
  <ng-container *ngIf="error && loaded">
    There was an error loading your current reservations. <br>
     Please try again later
  </ng-container>
</div>
</a>

