<div class="container">

  <fieldset>
      <form>
        <!--User detials-->
          <div class="formItem">
              <p><strong>User:</strong> {{ user.name }}</p>
          </div>
      <!-- Display the purpose -->
        <div class="formItem">
            <!--Edit the purpose-->
              <div *ngIf="edit">
                  <label>Purpose:</label>
                  <select [(ngModel)]="reservation.purpose" type="text" name="Purpose">
                  <option>Panel</option>
                  <option>Interview</option>
                  </select>
              </div>
              <!-- Display purpose-->
            <div *ngIf="!edit">
            <p><strong>Purpose:</strong> {{ reservation.purpose }}</p>
          </div>
        </div>

      <!-- Display the reservation -->
        <div class="formItem">
          <!-- Edit the reservation-->
            <div *ngIf="edit">
                <label>Resource:</label>
                <input [(ngModel)]="resource.name" type="text" name="Resource">
            </div>
            <!-- Display reservation-->
              <div *ngIf="!edit">
                  <p><strong>Resource:</strong> {{ resource.name }}</p>
              </div>
        </div>

    <!-- Display the DATE -->
      <div class="formItem">
          <!-- Display DATE-->
          <div *ngIf="!edit">
          <p><strong>Start Date:</strong> {{ reservation.startTime | date: 'MMM d, y'}}</p>
          </div>
          <!-- Edit the DATE-->
            <div *ngIf="edit">
                <label>Start time:</label>
              <input [(ngModel)]="date" type="date" name="Start">
            </div>
      </div>
      <!-- Display the start time -->
        <div class="formItem">
            <!-- Display start time -->
            <div *ngIf="!edit">
            <p><strong>Start Time:</strong> {{ reservation.startTime | date: 'h:mm a'}}</p>
            </div>
            <!-- Edit the start time-->
              <div *ngIf="edit">
                  <label>Start time:</label>
                <input [(ngModel)]="time1" type="time" name="Start">
              </div>
        </div>

      <!-- Display the end time-->
        <div class="formItem">
          <!-- Display the end time-->
            <div *ngIf="!edit">
              <p><strong>End Time:</strong> {{ reservation.endTime | date: 'h:mm a'}}</p>
            </div>
            <!-- Edit the end time-->
              <div *ngIf="edit">
                  <label>End time:</label>
                  <input required [(ngModel)]="time2" type="time" name="End">
              </div>
        </div>
      </form>
      <div id="buttonCon">
        <!-- Button that edits the fieds displayed on the form -->
        <button *ngIf="!edit" (click)="editReservation()" id="createBTN" class="btn btn-primary">Edit Reservation</button>
        <!-- Button that redirects to the calendar page since admin decided not to edit the reservation -->
        <button *ngIf="edit" (click)="cancelReservation()" id="createBTN" class="btn btn-primary">Cancel Edit</button>
        <!-- Button that suppose to delete the reservation-->
        <button *ngIf="!edit" (click)="reset()" id="cancelBTN"  class="btn btn-primary">Cancel Reservation</button>
        <!-- Button that sends updated reservation to the server -->
        <button *ngIf="edit" (click)="updateReservatiion()" id="cancelBTN"  class="btn btn-primary">Submit</button>
      </div>
    </fieldset>
    <div class="loading" *ngIf !="loading"> ... Loading ...  </div>




</div>

