
<div class="container">

  <fieldset>
      <form>
      <!-- Display the purpose -->
        <div class="formItem">
            <!--Edit the purpose-->
              <div *ngIf="edit">
                  <label>Purpose:</label>
                  <input [(ngModel)]="purpose" type="text" name="Purpose">
              </div>
              <!-- Display purpose-->
            <div *ngIf="!edit">
            <p><strong>Purpose:</strong> {{ purpose }}</p>
          </div>
        </div>

      <!-- Display the reservation -->
        <div class="formItem">
          <!-- Edit the reservation-->
            <div *ngIf="edit">
                <label>Reservation:</label>
                <input [(ngModel)]="purpose" type="text" name="Purpose">
            </div>
            <!-- Display reservation-->
              <div *ngIf="!edit">
                  <p><strong>Reservation:</strong> {{ purpose }}</p>
              </div>
        </div>

      <!-- Display the start time -->
        <div class="formItem">
            <!-- Display start time -->
            <div *ngIf="!edit">
            <p><strong>Start Time:</strong> {{ sTime }}</p>
            </div>
            <!-- Edit the start time-->
              <div *ngIf="edit">
                  <label>Start time:</label>
                <input type="date" name="Start">
              </div>
        </div>

      <!-- Display the end time-->
        <div class="formItem">
          <!-- Display the end time-->
            <div *ngIf="!edit">
              <p><strong>End Time:</strong> {{ eTime }}</p>
            </div>
            <!-- Edit the end time-->
              <div *ngIf="edit">
                  <label>End time:</label>
                  <input type="date" name="End">
              </div>
        </div>
      </form>
      <div id="buttonCon">
        <!-- Button that edits the fieds displayed on the form -->
        <button (click)="editReservation()" id="createBTN" class="btn btn-primary">Edit Reservation</button>
        <!-- Button that suppose to delete the reservation-->
        <button (click)="reset()" id="cancelBTN"  class="btn btn-primary">Cancel Reservation</button>
      </div>
    </fieldset>
    <div class="loading" *ngIf !="loading"> ... Loading ...  </div>




</div>

