fieldset{
    background: #FCE1D3;
    border: #66391f solid 1px;
    border-radius: 5px;
}

input{
    border-radius: 15px;
    border: #66391f solid 1px;
    padding-left: 10px;
    padding: 3px;
}

select{
    border-radius: 10px;
    border: #66391f solid 1px;
    padding-left: 10px;
    padding: 3px;
}

.left-label {
    width: 20%;
}

.formItem {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:  #66391f;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.form-control {
    width: 80%;
}

.timeItem > div {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.timeItem label {
    text-align:center;
}

.note {
    color: #99896C;
    font-size: .75em;
    text-align: center;
    width: 100%;
}

.loading {
    text-align: center
}

.error {
    color:#FF5141;
    text-align: center;
}

#buttonCon{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

#createBTN{
    border: #99562e solid 1px;
    color:#99562e;
    background: white;
}

#createBTN:hover{
    color:white;
    background:#FF904E;
}

#cancelBTN{
    border: #FF5141 solid 1px;
    color:#FF5141;
    background: white;
}

#cancelBTN:hover {
    color: white;
    background: #FF5141;
}

#field-color {
    color:#66391f;
}