#form-container {
    display:flex;
    flex-direction: column;
    background: #FCE1D3;
    border: #66391f solid 1px;
    border-radius: 5px;
    padding: 2px;
}

.formItem {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:  #66391f;
    padding:0px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}
.timeItem > div {
    width:50%;
    margin: 0 auto;
    text-align:center;
}
.timeItem label {
    text-align:center;
}
input{
    border-radius: 15px;
    border: #66391f solid 1px;
    padding: 10px 10px 10px 3px;
}
select{
    border-radius: 10px;
    border: #66391f solid 1px;
    padding:3px;
}
span{
    font-size: .75em;
}

#buttonCon{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

#createBTN{
    border: #99562e solid 1px;
    color:#99562e;
    background: white;
}

#createBTN:hover{
    color:white;
    background:#FF904E;
}

#cancelBTN{
    border: #FF5141 solid 1px;
    color:#FF5141;
    background: white;
}

#cancelBTN:hover {
    color: white;
    background: #FF5141;
}

.error {
    color:#FF5141;
    text-align: center;
}

.loading {
    text-align: center
}

span.note {
    color: #99896C;
}

#field-color {
    color:#66391f;
}