
<!-- If there is no resource list object, don't show anything.-->
<ng-container *ngIf="this.resourceService.currentResourceList && this.reservationService.currentReservation">
  <h1>
    Available Resources
  </h1>
  Showing results for 
  {{this.reservationService.currentReservation.startTime | date: 'MMM dd'}} from
   {{this.reservationService.currentReservation.startTime | date: 'h:mm a'}}
  to {{this.reservationService.currentReservation.endTime | date: 'h:mm a'}}.
  
  <ng-container *ngIf="this.resourceService.currentResourceList.length == 0">
    No available resources at the selected time.
  </ng-container> 

  <div class="resource-tab form-inline" *ngFor="let resource of this.resourceService.currentResourceList">
    <div class="btn-group btn-group-toggle resource-container" ngbRadioGroup name="radioBasic" [(ngModel)]="model" (click)="open(resource)">

        <div>
          {{resource.name}}
        </div>
          <div *ngIf="resource.hasEthernet" ngbPopover="Wifi available" triggers="mouseenter:mouseleave">
            <mat-icon>network_wifi</mat-icon>
          </div>
          <div *ngIf="!resource.hasEthernet" ngbPopover="No wifi" triggers="mouseenter:mouseleave">
            <mat-icon>signal_wifi_off</mat-icon>
          </div>
          <div *ngIf="resource.hasComputer"ngbPopover="Computers available" triggers="mouseenter:mouseleave">
            <mat-icon>computer</mat-icon>
          </div>    
          <div *ngIf="!resource.hasComputer" ngbPopover="No computers/laptops" triggers="mouseenter:mouseleave">
            <mat-icon>phonelink_off</mat-icon>
          </div>  
          <div *ngIf="resource.hasMicrophone"ngbPopover="Microphones avaialable" triggers="mouseenter:mouseleave">
            <mat-icon>headset_mic</mat-icon>
          </div>
          <div *ngIf="!resource.hasMicrophone" ngbPopover="No microphones" triggers="mouseenter:mouseleave">
            <mat-icon>mic_off</mat-icon>
          </div>
          <div ngbPopover="Outlets available" triggers="mouseenter:mouseleave">
            <mat-icon>power</mat-icon>{{resource.numberOfOutlets}}
          </div>

        </div>
  </div>

</ng-container>